# Priprava in čiščenje podatkov

In [33]:
import pandas as pd
import numpy as np

## Get the data - Reading CSV Files with Encodings

In [34]:
!head -n 3 data/INPUT_laptops.csv

Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM, Storage,GPU,Operating System,Operating System Version,Weight,Price (Euros)
Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,,1.37kg,"1339,69"
Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,,1.34kg,"898,94"

In [35]:
laptops = pd.read_csv("data/INPUT_laptops.csv", encoding="Latin-1")

    df = pd.read_csv("filename.csv", encoding="some_encoding")

In [36]:
laptops.head()

,Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM,Storage,GPU,Operating System,Operating System Version,Weight,Price (Euros)
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"
2,HP,250 G6,Notebook,"15.6""",Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86kg,"575,00"
3,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,"2537,45"
4,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37kg,"1803,60"

In [37]:
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
Manufacturer                1303 non-null object
Model Name                  1303 non-null object
Category                    1303 non-null object
Screen Size                 1303 non-null object
Screen                      1303 non-null object
CPU                         1303 non-null object
RAM                         1303 non-null object
 Storage                    1303 non-null object
GPU                         1303 non-null object
Operating System            1303 non-null object
Operating System Version    1133 non-null object
Weight                      1303 non-null object
Price (Euros)               1303 non-null object
dtypes: object(13)
memory usage: 132.5+ KB

## Cleaning Column Names

In [38]:
laptops.columns

Index(['Manufacturer', 'Model Name', 'Category', 'Screen Size', 'Screen',
       'CPU', 'RAM', ' Storage', 'GPU', 'Operating System',
       'Operating System Version', 'Weight', 'Price (Euros)'],
      dtype='object')

In [39]:
#laptops['Storage']

In [40]:
laptops_test = laptops.copy()

In [41]:
laptops_test.head(1)

,Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM,Storage,GPU,Operating System,Operating System Version,Weight,Price (Euros)
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"

In [42]:
laptops_test.columns = ['A', 'B', 'C', 'D', 'E',
                        'F', 'G', 'H', 'I', 'J',
                        'K', 'L', 'M']

In [43]:
laptops_test.head(1)

,A,B,C,D,E,F,G,H,I,J,K,L,M
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"

In [44]:
print(laptops_test.columns)

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M'], dtype='object')

In [45]:
# remove whitespaces from the column names
clean_imena = []

for stolpec in laptops.columns:
    clean_stolpec = stolpec.strip()
    clean_imena.append(clean_stolpec)

In [46]:
clean_imena

['Manufacturer',
 'Model Name',
 'Category',
 'Screen Size',
 'Screen',
 'CPU',
 'RAM',
 'Storage',
 'GPU',
 'Operating System',
 'Operating System Version',
 'Weight',
 'Price (Euros)']

In [47]:
laptops_test.columns = clean_imena

In [48]:
laptops_test.head(1)
laptops_test['Storage']

0                 128GB SSD
1       128GB Flash Storage
2                 256GB SSD
3                 512GB SSD
4                 256GB SSD
               ...
1298              128GB SSD
1299              512GB SSD
1300     64GB Flash Storage
1301                1TB HDD
1302              500GB HDD
Name: Storage, Length: 1303, dtype: object

In [49]:
laptops.columns

Index(['Manufacturer', 'Model Name', 'Category', 'Screen Size', 'Screen',
       'CPU', 'RAM', ' Storage', 'GPU', 'Operating System',
       'Operating System Version', 'Weight', 'Price (Euros)'],
      dtype='object')

In [50]:
def clean_col(col):
    col = col.strip()
    col = col.replace('Operating System', 'os')
    col = col.replace(' ', '_')
    col = col.replace('(', "")
    col = col.replace(')', "")
    col = col.lower()
    return col

In [51]:
new_columns = []

for c in laptops.columns:
    clean_c = clean_col(c)
    new_columns.append(clean_c)

In [52]:
# list comprehension -> boljše
new_columns = [clean_col(c) for c in laptops.columns]

In [53]:
print(new_columns)

['manufacturer', 'model_name', 'category', 'screen_size', 'screen', 'cpu', 'ram', 'storage', 'gpu', 'os', 'os_version', 'weight', 'price_euros']

In [54]:
laptops.columns = new_columns

In [55]:
laptops.head(2)

,manufacturer,model_name,category,screen_size,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"

## Converting String Columns to Numeric

In [65]:
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
manufacturer    1303 non-null object
model_name      1303 non-null object
category        1303 non-null object
screen_size     1303 non-null object
screen          1303 non-null object
cpu             1303 non-null object
ram             1303 non-null object
storage         1303 non-null object
gpu             1303 non-null object
os              1303 non-null object
os_version      1133 non-null object
weight          1303 non-null object
price_euros     1303 non-null object
dtypes: object(13)
memory usage: 132.5+ KB

In [66]:
laptops.iloc[:5, 2:5]

    category screen_size                              screen
0  Ultrabook       13.3"  IPS Panel Retina Display 2560x1600
1  Ultrabook       13.3"                            1440x900
2   Notebook       15.6"                   Full HD 1920x1080
3  Ultrabook       15.4"  IPS Panel Retina Display 2880x1800
4  Ultrabook       13.3"  IPS Panel Retina Display 2560x1600


<p><img alt="string to numeric cleaning workflow" src="images/cleaning_workflow.svg"></p>

In [68]:
print(laptops['screen_size'].dtype)

object

In [71]:
laptops['screen_size'].unique()

array(['13.3"', '15.6"', '15.4"', '14.0"', '12.0"', '11.6"', '17.3"',
       '10.1"', '13.5"', '12.5"', '13.0"', '18.4"', '13.9"', '12.3"',
       '17.0"', '15.0"', '14.1"', '11.3"'], dtype=object)

In [72]:
unique_ram = laptops['ram'].unique()

In [73]:
unique_ram

array(['8GB', '16GB', '4GB', '2GB', '12GB', '6GB', '32GB', '24GB', '64GB'],
      dtype=object)


<p></p><center><img alt="vectorized_string_methods" src="images/Syntax.png"></center><p></p>

https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html#method-summary

In [74]:
laptops['screen_size'] = laptops['screen_size'].str.replace('"', '')

In [75]:
laptops['screen_size'].unique()

array(['13.3', '15.6', '15.4', '14.0', '12.0', '11.6', '17.3', '10.1',
       '13.5', '12.5', '13.0', '18.4', '13.9', '12.3', '17.0', '15.0',
       '14.1', '11.3'], dtype=object)

In [76]:
laptops['ram'] = laptops['ram'].str.replace('GB', '')

In [77]:
laptops['ram'].unique()

array(['8', '16', '4', '2', '12', '6', '32', '24', '64'], dtype=object)

In [78]:
laptops.dtypes

manufacturer    object
model_name      object
category        object
screen_size     object
screen          object
cpu             object
ram             object
storage         object
gpu             object
os              object
os_version      object
weight          object
price_euros     object
dtype: object

In [79]:
laptops['screen_size'] = laptops['screen_size'].astype('float')

In [80]:
laptops['ram'] = laptops['ram'].astype('int')

In [81]:
laptops.dtypes

manufacturer     object
model_name       object
category         object
screen_size     float64
screen           object
cpu              object
ram               int64
storage          object
gpu              object
os               object
os_version       object
weight           object
price_euros      object
dtype: object

## Renaming Columns

In [84]:
laptops.rename({"screen_size": "screen_size_inches"}, axis=1, inplace=True)

In [85]:
laptops.head(2)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"

In [86]:
laptops.rename(columns={"ram": "ram_gb"}, inplace=True)

In [87]:
laptops.columns

Index(['manufacturer', 'model_name', 'category', 'screen_size_inches',
       'screen', 'cpu', 'ram_gb', 'storage', 'gpu', 'os', 'os_version',
       'weight', 'price_euros'],
      dtype='object')

In [88]:
laptops['ram_gb'].describe()

count    1303.000000
mean        8.382195
std         5.084665
min         2.000000
25%         4.000000
50%         8.000000
75%         8.000000
max        64.000000
Name: ram_gb, dtype: float64

## Extracting Values from Strings

In [89]:
laptops['gpu'].head()

0    Intel Iris Plus Graphics 640
1          Intel HD Graphics 6000
2           Intel HD Graphics 620
3              AMD Radeon Pro 455
4    Intel Iris Plus Graphics 650
Name: gpu, dtype: object

In [93]:
laptops['gpu_manufacturer'] = laptops['gpu'].str.split().str[0]

In [94]:
laptops.head(2)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_gb,storage,gpu,os,os_version,weight,price_euros,gpu_manufacturer
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69",Intel
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94",Intel

In [99]:
laptops['cpu_manufacturer'] = laptops['cpu'].str.split().str[0]

In [100]:
laptops.dtypes

manufacturer           object
model_name             object
category               object
screen_size_inches    float64
screen                 object
cpu                    object
ram_gb                  int64
storage                object
gpu                    object
os                     object
os_version             object
weight                 object
price_euros            object
gpu_manufacturer       object
cpu_manufacturer       object
dtype: object

In [101]:
laptops['cpu_manufacturer'].value_counts()

Intel      1240
AMD          62
Samsung       1
Name: cpu_manufacturer, dtype: int64

## Correcting Bad Values - map() method

In [102]:
laptops['os'].value_counts()

Windows      1125
No OS          66
Linux          62
Chrome OS      27
macOS          13
Mac OS          8
Android         2
Name: os, dtype: int64

In [110]:
s = pd.Series(['pair', 'oranje', 'bananna', 'oranje', 'oranje', 'oranje'])

In [111]:
s

0       pair
1     oranje
2    bananna
3     oranje
4     oranje
5     oranje
dtype: object

In [112]:
corrections = {
    "pair": "pear",
    "oranje": "orange",
    "bananna": "banana"
}

In [113]:
s = s.map(corrections)

In [114]:
s

0      pear
1    orange
2    banana
3    orange
4    orange
5    orange
dtype: object

In [58]:
mapping_dict = {
    'Android': 'Android',
    'Chrome OS': 'Chrome OS',
    'Linux': 'Linux',
    'Mac OS': 'macOS',
    'No OS': 'No OS',
    'Windows': 'Windows',
    'macOS': 'macOS'
}

In [118]:
laptops['os'] = laptops['os'].map(mapping_dict)

In [120]:
pd.Series.map?

In [116]:
laptops['os'].value_counts()

Windows      1125
No OS          66
Linux          62
Chrome OS      27
macOS          21
Android         2
Name: os, dtype: int64

## Introduction to Missing Data

### Trade-Offs in Missing Data Conventions

### Missing Data in Pandas

### None: Pythonic missing data

In [121]:
vals1 = np.array([1, None, 3, 4])
vals1

array([1, None, 3, 4], dtype=object)

In [125]:
vals2 = np.array([1, 2, 3, 4], dtype='object')
vals2

array([1, 2, 3, 4], dtype=object)

In [126]:
vals2.sum()

10

In [128]:
for dtype in ['object', 'int']:
    print("dtype= ", dtype)
    %timeit np.arange(1E6, dtype=dtype).sum()
    print()

dtype=  object
266 ms ± 40.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

dtype=  int
3.64 ms ± 437 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [129]:
vals1.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [130]:
1 + None

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

### NaN: Missing numerical data

In [132]:
vals2 = np.array([1, np.nan, 3, 4])
vals2.dtype

dtype('float64')

In [133]:
1 + np.nan

nan

In [134]:
0 * np.nan

nan

In [135]:
vals2.sum()

nan

In [136]:
np.nansum(vals2)

8.0

### NaN and None in Pandas

In [144]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [147]:
x = pd.Series(range(4), dtype=int)

In [148]:
x

0    0
1    1
2    2
3    3
dtype: int64

In [149]:
x[0] = None

In [150]:
x

0    NaN
1    1.0
2    2.0
3    3.0
dtype: float64

In [153]:
y = pd.Series(['asas', 'askkas', np.nan])

In [154]:
y

0      asas
1    askkas
2       NaN
dtype: object


<table>
<thead><tr>
<th>Typeclass</th>
<th>Conversion When Storing NAs</th>
<th>NA Sentinel Value</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>floating</code></td>
<td>No change</td>
<td><code>np.nan</code></td>
</tr>
<tr>
<td><code>object</code></td>
<td>No change</td>
<td><code>None</code> or <code>np.nan</code></td>
</tr>
<tr>
<td><code>integer</code></td>
<td>Cast to <code>float64</code></td>
<td><code>np.nan</code></td>
</tr>
<tr>
<td><code>boolean</code></td>
<td>Cast to <code>object</code></td>
<td><code>None</code> or <code>np.nan</code></td>
</tr>
</tbody>
</table>

### Operating on Null Values



- `isnull()`: Generate a boolean mask indicating missing values
- `notnull()`: Opposite of isnull()
- `dropna()`: Return a filtered version of the data
- `fillna()`: Return a copy of the data with missing values filled or imputed

#### Detecting null values

In [155]:
data = pd.Series([1, np.nan, 'hello', None])

In [156]:
data

0        1
1      NaN
2    hello
3     None
dtype: object

In [157]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [158]:
data[data.notnull()]

0        1
2    hello
dtype: object

#### Dropping null values

In [159]:
data

0        1
1      NaN
2    hello
3     None
dtype: object

In [160]:
data.dropna()

0        1
2    hello
dtype: object

In [161]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])

In [162]:
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [163]:
df.dropna()

     0    1  2
1  2.0  3.0  5

In [164]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

In [165]:
df[3] = np.nan

In [166]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [167]:
df.dropna(axis='columns', how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [168]:
df.dropna(axis='rows', thresh=3)

     0    1  2   3
1  2.0  3.0  5 NaN

#### Filling null values

In [169]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))

In [170]:
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [172]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [173]:
data.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [174]:
data.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

In [176]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [177]:
df.fillna(method='ffill', axis=1)

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0

## Dropping Missing Values

In [178]:
laptops.isnull().sum()

manufacturer            0
model_name              0
category                0
screen_size_inches      0
screen                  0
cpu                     0
ram_gb                  0
storage                 0
gpu                     0
os                      0
os_version            170
weight                  0
price_euros             0
gpu_manufacturer        0
cpu_manufacturer        0
dtype: int64

In [179]:
laptops.shape

(1303, 15)

In [181]:
laptops_drops = laptops.dropna(axis=0)

In [182]:
laptops_drops.shape

(1133, 15)

In [183]:
laptops_drops = laptops.dropna(axis=1)

In [184]:
laptops_drops.shape

(1303, 14)

## Filling Missing Values

In [185]:
laptops['os_version'].value_counts(dropna=False)

10      1072
NaN      170
7         45
10 S       8
X          8
Name: os_version, dtype: int64

In [188]:
laptops.loc[laptops['os_version'].isnull(), 'os'].value_counts()

No OS        66
Linux        62
Chrome OS    27
macOS        13
Android       2
Name: os, dtype: int64

In [189]:
laptops.loc[laptops['os'] == 'macOS', ['os', 'os_version']].head()

      os os_version
0  macOS        NaN
1  macOS        NaN
3  macOS        NaN
4  macOS        NaN
6  macOS          X

In [190]:
laptops.loc[laptops['os_version'].isnull(), 'os'].value_counts()

No OS        66
Linux        62
Chrome OS    27
macOS        13
Android       2
Name: os, dtype: int64

In [191]:
laptops.loc[laptops['os'] == 'No OS', 'os_version'] = 'Version Unknown'

In [192]:
laptops.loc[laptops['os_version'].isnull(), 'os'].value_counts()

Linux        62
Chrome OS    27
macOS        13
Android       2
Name: os, dtype: int64

In [193]:
laptops.loc[laptops['os'] == 'macOS', 'os_version'] = 'X'

In [194]:
laptops.loc[laptops['os_version'].isnull(), 'os'].value_counts()

Linux        62
Chrome OS    27
Android       2
Name: os, dtype: int64

In [195]:
laptops.loc[laptops['os'] == 'Linux', 'os_version'] = 'Version Unknown'
laptops.loc[laptops['os'] == 'Chrome OS', 'os_version'] = 'Version Unknown'
laptops.loc[laptops['os'] == 'Android', 'os_version'] = 'Version Unknown'

In [196]:
laptops.loc[laptops['os_version'].isnull(), 'os'].value_counts()

Series([], Name: os, dtype: int64)

In [197]:
laptops.isnull().sum()

manufacturer          0
model_name            0
category              0
screen_size_inches    0
screen                0
cpu                   0
ram_gb                0
storage               0
gpu                   0
os                    0
os_version            0
weight                0
price_euros           0
gpu_manufacturer      0
cpu_manufacturer      0
dtype: int64

In [198]:
laptops['os_version'].value_counts(dropna=False)

10                 1072
Version Unknown     157
7                    45
X                    21
10 S                  8
Name: os_version, dtype: int64

## Removing Duplicates

In [199]:
laptops.duplicated().head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [201]:
laptops.duplicated().value_counts()

False    1275
True       28
dtype: int64

In [203]:
laptops[laptops.duplicated()].head(1)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_gb,storage,gpu,os,os_version,weight,price_euros,gpu_manufacturer,cpu_manufacturer
1275,Asus,ZenBook UX305CA-UBM1,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core M 6Y30 0.9GHz,8,512GB SSD,Intel HD Graphics 515,Windows,10,1.2kg,"729,00",Intel,Intel

In [204]:
zenbook_model = 'ZenBook UX305CA-UBM1'

In [205]:
laptops[laptops['model_name'] == zenbook_model]

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_gb,storage,gpu,os,os_version,weight,price_euros,gpu_manufacturer,cpu_manufacturer
1261,Asus,ZenBook UX305CA-UBM1,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core M 6Y30 0.9GHz,8,512GB SSD,Intel HD Graphics 515,Windows,10,1.2kg,"729,00",Intel,Intel
1275,Asus,ZenBook UX305CA-UBM1,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core M 6Y30 0.9GHz,8,512GB SSD,Intel HD Graphics 515,Windows,10,1.2kg,"729,00",Intel,Intel
1289,Asus,ZenBook UX305CA-UBM1,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core M 6Y30 0.9GHz,8,512GB SSD,Intel HD Graphics 515,Windows,10,1.2kg,"729,00",Intel,Intel

In [206]:
laptops.shape

(1303, 15)

In [207]:
laptops.drop_duplicates(inplace=True)

In [208]:
laptops.shape

(1275, 15)

## Replacing Values

In [209]:
laptops['manufacturer'].value_counts()

Dell         291
Lenovo       289
HP           268
Asus         152
Acer         101
MSI           54
Toshiba       48
Apple         21
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Vero           4
Xiaomi         4
Fujitsu        3
LG             3
Chuwi          3
Google         3
Huawei         2
Name: manufacturer, dtype: int64

In [210]:
laptops.replace('MSI', 'Micro-Star International', inplace=True)

In [211]:
laptops['manufacturer'].value_counts()

Dell                        291
Lenovo                      289
HP                          268
Asus                        152
Acer                        101
Micro-Star International     54
Toshiba                      48
Apple                        21
Samsung                       9
Razer                         7
Mediacom                      7
Microsoft                     6
Xiaomi                        4
Vero                          4
Fujitsu                       3
LG                            3
Chuwi                         3
Google                        3
Huawei                        2
Name: manufacturer, dtype: int64

## Dropping Columns

In [213]:
laptops.head(2)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_gb,storage,gpu,os,os_version,weight,price_euros,gpu_manufacturer,cpu_manufacturer
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,X,1.37kg,"1339,69",Intel,Intel
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,X,1.34kg,"898,94",Intel,Intel

In [214]:
to_drop = ['category', 'gpu']

In [215]:
laptops.drop(to_drop, axis=1).head(1)

,manufacturer,model_name,screen_size_inches,screen,cpu,ram_gb,storage,os,os_version,weight,price_euros,gpu_manufacturer,cpu_manufacturer
0,Apple,MacBook Pro,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,macOS,X,1.37kg,"1339,69",Intel,Intel

In [216]:
laptops.drop(to_drop, axis=1, inplace=True)

In [218]:
laptops.head(1)

,manufacturer,model_name,screen_size_inches,screen,cpu,ram_gb,storage,os,os_version,weight,price_euros,gpu_manufacturer,cpu_manufacturer
0,Apple,MacBook Pro,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,macOS,X,1.37kg,"1339,69",Intel,Intel

## Vaja

In [219]:
laptops['weight'].head()

0    1.37kg
1    1.34kg
2    1.86kg
3    1.83kg
4    1.37kg
Name: weight, dtype: object

In [221]:
laptops["weight"] = laptops["weight"].str.replace('kgs', '').str.replace('kg', '').astype('float')
laptops.rename({'weight': 'weight_kg'}, axis=1, inplace=True)

In [222]:
laptops.dtypes.dtypes

manufacturer           object
model_name             object
screen_size_inches    float64
screen                 object
cpu                    object
ram_gb                  int64
storage                object
os                     object
os_version             object
weight_kg             float64
price_euros            object
gpu_manufacturer       object
cpu_manufacturer       object
dtype: object

In [224]:
laptops.head()

,manufacturer,model_name,screen_size_inches,screen,cpu,ram_gb,storage,os,os_version,weight_kg,price_euros,gpu_manufacturer,cpu_manufacturer
0,Apple,MacBook Pro,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,macOS,X,1.37,"1339,69",Intel,Intel
1,Apple,Macbook Air,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,macOS,X,1.34,"898,94",Intel,Intel
2,HP,250 G6,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,No OS,Version Unknown,1.86,"575,00",Intel,Intel
3,Apple,MacBook Pro,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,macOS,X,1.83,"2537,45",AMD,Intel
4,Apple,MacBook Pro,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,macOS,X,1.37,"1803,60",Intel,Intel

### Convert the price_euros column to a numeric dtype.

In [226]:
laptops['price_euros'] = laptops['price_euros'].str.replace(',', '.').astype('float')

In [227]:
laptops['price_euros'].head()

0    1339.69
1     898.94
2     575.00
3    2537.45
4    1803.60
Name: price_euros, dtype: float64

### Extract the screen resolution from the screen column.

In [228]:
laptops['screen'].head()

0    IPS Panel Retina Display 2560x1600
1                              1440x900
2                     Full HD 1920x1080
3    IPS Panel Retina Display 2880x1800
4    IPS Panel Retina Display 2560x1600
Name: screen, dtype: object

In [233]:
resloution = laptops['screen'].str.split().str[-1].str.split('x')
laptops['screen_width_px'] = resloution.str[0].astype('int')
laptops['screen_high_px'] = resloution.str[1].astype('int')

In [235]:
laptops.dtypes

manufacturer           object
model_name             object
screen_size_inches    float64
screen                 object
cpu                    object
ram_gb                  int64
storage                object
os                     object
os_version             object
weight_kg             float64
price_euros           float64
gpu_manufacturer       object
cpu_manufacturer       object
screen_width_px         int64
screen_high_px          int64
dtype: object

### Extract the processor speed from the cpu column.

In [237]:
laptops['cpu_speed_ghz'] = laptops['cpu'].str.split().str[-1].str.replace('GHz', '').astype('float')

In [238]:
laptops.head()

,manufacturer,model_name,screen_size_inches,screen,cpu,ram_gb,storage,os,os_version,weight_kg,price_euros,gpu_manufacturer,cpu_manufacturer,screen_width_px,screen_high_px,cpu_speed_ghz
0,Apple,MacBook Pro,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,macOS,X,1.37,1339.69,Intel,Intel,2560,1600,2.3
1,Apple,Macbook Air,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,macOS,X,1.34,898.94,Intel,Intel,1440,900,1.8
2,HP,250 G6,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,No OS,Version Unknown,1.86,575.00,Intel,Intel,1920,1080,2.5
3,Apple,MacBook Pro,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,macOS,X,1.83,2537.45,AMD,Intel,2880,1800,2.7
4,Apple,MacBook Pro,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,macOS,X,1.37,1803.60,Intel,Intel,2560,1600,3.1

## Save clean data to CSV file

In [239]:
laptops.to_csv('data/OUTPUT_laptops_cleaned.csv', index=False)

In [240]:
!head -n 5 data/OUTPUT_laptops_cleaned.csv

manufacturer,model_name,screen_size_inches,screen,cpu,ram_gb,storage,os,os_version,weight_kg,price_euros,gpu_manufacturer,cpu_manufacturer,screen_width_px,screen_high_px,cpu_speed_ghz
Apple,MacBook Pro,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,macOS,X,1.37,1339.69,Intel,Intel,2560,1600,2.3
Apple,Macbook Air,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,macOS,X,1.34,898.94,Intel,Intel,1440,900,1.8
HP,250 G6,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,No OS,Version Unknown,1.86,575.0,Intel,Intel,1920,1080,2.5
Apple,MacBook Pro,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,macOS,X,1.83,2537.45,AMD,Intel,2880,1800,2.7

## Analiza

### Are laptops made by Apple more expensive than those made by other manufacturers?

In [248]:
for manufacturer in laptops['manufacturer'].unique():
    selected = laptops[laptops['manufacturer'] == manufacturer]['price_euros']
    print(f'{manufacturer}: {selected.mean()}')

Apple: 1564.1985714285713
HP: 1080.3146641791045
Acer: 633.4644554455446
Asus: 1123.8297368421051
Dell: 1199.2251202749142
Lenovo: 1093.8622145328723
Chuwi: 314.2966666666667
Micro-Star International: 1728.9081481481483
Microsoft: 1612.3083333333334
Toshiba: 1267.8125
Huawei: 1424.0
Xiaomi: 1133.4625
Vero: 217.425
Razer: 3346.1428571428573
Mediacom: 295.0
Samsung: 1413.4444444444443
Google: 1677.6666666666667
Fujitsu: 729.0
LG: 2099.0

### What is the best value laptop with a screen size of 15" or more?

In [246]:
laptops.loc[laptops['screen_size_inches'] >= 15, ['model_name', 'price_euros', 'screen_size_inches']] \
                        .sort_values(by='price_euros') \
                        .head()

                                model_name  price_euros  screen_size_inches
290                   Chromebook C910-C2ST       199.00                15.6
1102                         Chromebook 15       209.00                15.6
555   A541NA-GO342 (N3350/4GB/500GB/Linux)       224.00                15.6
30                           LapBook 15.6"       244.99                15.6
483                           Lapbook 15,6       248.90                15.6

### Which laptop has the most RAM?

In [241]:
laptops[laptops['ram_gb'] == laptops['ram_gb'].max()]

,manufacturer,model_name,screen_size_inches,screen,cpu,ram_gb,storage,os,os_version,weight_kg,price_euros,gpu_manufacturer,cpu_manufacturer,screen_width_px,screen_high_px,cpu_speed_ghz
1066,Asus,ROG G701VO,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 6820HK 2.7GHz,64,1TB SSD,Windows,10,3.58,3975.0,Nvidia,Intel,1920,1080,2.7