In [1]:
import numpy as np
import pandas as pd

# Teden 04: Uvoz in priprava podatkov

# Data Loading, Storage, and File Formats

## Reading and Writing Data in Text Format

### Reading text files



#### Text encoding: ASCII, Unicode, and others


**Unicode and UTF-8**

In [9]:
with open('out2.txt', 'wb') as f:
    f.write(bytes([65,66,67,255,192,193]))

In [10]:
!cat out2.txt

ABC���


`ABCÿÀÁ`

In [12]:
with open('out2.txt') as f:
    f.read()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 3: invalid start byte

In [14]:
with open('out2.txt', errors='ignore') as f:
    print(f.read())

ABC

In [15]:
with open('out2.txt', errors='replace') as f:
    print(f.read())

ABC���

In [17]:
with open('out2.txt', errors='backslashreplace') as f:
    print(f.read())

ABC\xff\xc0\xc1

#### Unstructured text

In [19]:
!cat data/DATA_test2.txt

Call me Ishmael. Some years ago--never mind how long precisely-- having little or no money in my purse, and nothing particular to interest me on shore, I thought I would sail about a little and see the watery part of the world. It is a way I have of driving off the spleen and regulating the circulation. Whenever I find myself growing grim about the mouth; whenever it is a damp, drizzly November in my soul; whenever I find myself involuntarily pausing before coffin warehouses, and bringing up the rear of every funeral I meet; and especially whenever my hypos get such an upper hand of me, that it requires a strong moral principle to prevent me from deliberately stepping into the street, and methodically knocking people's hats off--then, I account it high time to get to sea as soon as I can. This is my substitute for pistol and ball. With a philosophical flourish Cato throws himself upon his sword; I quietly take to the ship. There is nothing surprising in this. If they but knew it, almost all men in their degree, some time or other, cherish very nearly the same feelings towards the ocean with me.

There now is your insular city of the Manhattoes, belted round by wharves as Indian isles by coral reefs--commerce surrounds it with her surf. Right and left, the streets take you waterward. Its extreme downtown is the battery, where that noble mole is washed by waves, and cooled by breezes, which a few hours previous were out of sight of land. Look at the crowds of water-gazers there.

In [20]:
with open('data/DATA_test2.txt') as f:
    tekst = f.read()
    tekst_odstavki = tekst.split('\n\n')

In [21]:
tekst_odstavki

["Call me Ishmael. Some years ago--never mind how long precisely-- having little or no money in my purse, and nothing particular to interest me on shore, I thought I would sail about a little and see the watery part of the world. It is a way I have of driving off the spleen and regulating the circulation. Whenever I find myself growing grim about the mouth; whenever it is a damp, drizzly November in my soul; whenever I find myself involuntarily pausing before coffin warehouses, and bringing up the rear of every funeral I meet; and especially whenever my hypos get such an upper hand of me, that it requires a strong moral principle to prevent me from deliberately stepping into the street, and methodically knocking people's hats off--then, I account it high time to get to sea as soon as I can. This is my substitute for pistol and ball. With a philosophical flourish Cato throws himself upon his sword; I quietly take to the ship. There is nothing surprising in this. If they but knew it, almost all men in their degree, some time or other, cherish very nearly the same feelings towards the ocean with me.",
 'There now is your insular city of the Manhattoes, belted round by wharves as Indian isles by coral reefs--commerce surrounds it with her surf. Right and left, the streets take you waterward. Its extreme downtown is the battery, where that noble mole is washed by waves, and cooled by breezes, which a few hours previous were out of sight of land. Look at the crowds of water-gazers there.']

In [23]:
with open('data/DATA_test2.txt') as f:
    tekst = f.read()
    tekst_odstavki = tekst.split('\n\n')

In [26]:
takst_mali = tekst_odstavki[1].lower()

In [27]:
takst_mali

'there now is your insular city of the manhattoes, belted round by wharves as indian isles by coral reefs--commerce surrounds it with her surf. right and left, the streets take you waterward. its extreme downtown is the battery, where that noble mole is washed by waves, and cooled by breezes, which a few hours previous were out of sight of land. look at the crowds of water-gazers there.'

In [28]:
takst_mali = takst_mali.replace('.', '')

In [29]:
takst_mali

'there now is your insular city of the manhattoes, belted round by wharves as indian isles by coral reefs--commerce surrounds it with her surf right and left, the streets take you waterward its extreme downtown is the battery, where that noble mole is washed by waves, and cooled by breezes, which a few hours previous were out of sight of land look at the crowds of water-gazers there'

In [30]:
takst_mali = takst_mali.replace(',', '')

In [31]:
takst_mali

'there now is your insular city of the manhattoes belted round by wharves as indian isles by coral reefs--commerce surrounds it with her surf right and left the streets take you waterward its extreme downtown is the battery where that noble mole is washed by waves and cooled by breezes which a few hours previous were out of sight of land look at the crowds of water-gazers there'

In [35]:
takst_mali = takst_mali.replace('-', '')

In [36]:
takst_mali

'there now is your insular city of the manhattoes belted round by wharves as indian isles by coral reefscommerce surrounds it with her surf right and left the streets take you waterward its extreme downtown is the battery where that noble mole is washed by waves and cooled by breezes which a few hours previous were out of sight of land look at the crowds of watergazers there'

In [34]:
takst_mali.split()

['there',
 'now',
 'is',
 'your',
 'insular',
 'city',
 'of',
 'the',
 'manhattoes',
 'belted',
 'round',
 'by',
 'wharves',
 'as',
 'indian',
 'isles',
 'by',
 'coral',
 'reefscommerce',
 'surrounds',
 'it',
 'with',
 'her',
 'surf',
 'right',
 'and',
 'left',
 'the',
 'streets',
 'take',
 'you',
 'waterward',
 'its',
 'extreme',
 'downtown',
 'is',
 'the',
 'battery',
 'where',
 'that',
 'noble',
 'mole',
 'is',
 'washed',
 'by',
 'waves',
 'and',
 'cooled',
 'by',
 'breezes',
 'which',
 'a',
 'few',
 'hours',
 'previous',
 'were',
 'out',
 'of',
 'sight',
 'of',
 'land',
 'look',
 'at',
 'the',
 'crowds',
 'of',
 'water-gazers',
 'there']

## Delimited flat files

In [38]:
line = 'Ljubljana|1966/01/01|14.14|699'

In [39]:
print(line.split('|'))

['Ljubljana', '1966/01/01', '14.14', '699']

### The csv module

In [40]:
cat data/DATA_temp_data.txt

State|Month Day, Year Code|Avg Daily Max Air Temperature (F)|Record Count for Daily Max Air Temp (F)
Illinois|1979/01/01|17.48|994
Illinois|1979/01/02|4.64|994
Illinois|1979/01/03|11.05|994
Illinois|1979/01/04|9.51|994
Illinois|1979/05/15|68.42|994
Illinois|1979/05/16|70.29|994
Illinois|1979/05/17|75.34|994
Illinois|1979/05/18|79.13|994
Illinois|1979/05/19|74.94|994

In [42]:
import csv


with open('data/DATA_temp_data.txt', newline='') as f:
    results = [fileds for fileds in csv.reader(f, delimiter='|')]
    print(results)

[['State', 'Month Day, Year Code', 'Avg Daily Max Air Temperature (F)', 'Record Count for Daily Max Air Temp (F)'], ['Illinois', '1979/01/01', '17.48', '994'], ['Illinois', '1979/01/02', '4.64', '994'], ['Illinois', '1979/01/03', '11.05', '994'], ['Illinois', '1979/01/04', '9.51', '994'], ['Illinois', '1979/05/15', '68.42', '994'], ['Illinois', '1979/05/16', '70.29', '994'], ['Illinois', '1979/05/17', '75.34', '994'], ['Illinois', '1979/05/18', '79.13', '994'], ['Illinois', '1979/05/19', '74.94', '994']]

### Reading and Writing Data in Text Format with pandas

[Dokumentacija](http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

<table border="1" class="colwidths-given docutils">
<colgroup>
<col width="12%">
<col width="40%">
<col width="24%">
<col width="24%">
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Format Type</th>
<th class="head">Data Description</th>
<th class="head">Reader</th>
<th class="head">Writer</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a></td>
<td><a class="reference internal" href="#io-read-csv-table"><span class="std std-ref">read_csv</span></a></td>
<td><a class="reference internal" href="#io-store-in-csv"><span class="std std-ref">to_csv</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td><a class="reference external" href="https://www.json.org/">JSON</a></td>
<td><a class="reference internal" href="#io-json-reader"><span class="std std-ref">read_json</span></a></td>
<td><a class="reference internal" href="#io-json-writer"><span class="std std-ref">to_json</span></a></td>
</tr>
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/HTML">HTML</a></td>
<td><a class="reference internal" href="#io-read-html"><span class="std std-ref">read_html</span></a></td>
<td><a class="reference internal" href="#io-html"><span class="std std-ref">to_html</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td>Local clipboard</td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">read_clipboard</span></a></td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">to_clipboard</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Microsoft_Excel">MS Excel</a></td>
<td><a class="reference internal" href="#io-excel-reader"><span class="std std-ref">read_excel</span></a></td>
<td><a class="reference internal" href="#io-excel-writer"><span class="std std-ref">to_excel</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://support.hdfgroup.org/HDF5/whatishdf5.html">HDF5 Format</a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">read_hdf</span></a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">to_hdf</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://github.com/wesm/feather">Feather Format</a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">read_feather</span></a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">to_feather</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://parquet.apache.org/">Parquet Format</a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">read_parquet</span></a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">to_parquet</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://msgpack.org/index.html">Msgpack</a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">read_msgpack</span></a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">to_msgpack</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Stata">Stata</a></td>
<td><a class="reference internal" href="#io-stata-reader"><span class="std std-ref">read_stata</span></a></td>
<td><a class="reference internal" href="#io-stata-writer"><span class="std std-ref">to_stata</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SAS_(software)">SAS</a></td>
<td><a class="reference internal" href="#io-sas-reader"><span class="std std-ref">read_sas</span></a></td>
<td>&nbsp;</td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://docs.python.org/3/library/pickle.html">Python Pickle Format</a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">read_pickle</span></a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">to_pickle</span></a></td>
</tr>
<tr class="row-even"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SQL">SQL</a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">read_sql</span></a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">to_sql</span></a></td>
</tr>
<tr class="row-odd"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/BigQuery">Google Big Query</a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">read_gbq</span></a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">to_gbq</span></a></td>
</tr>
</tbody>
</table>

#### CSV data

In [43]:
# primer1
!cat data/DATA_ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [44]:
df = pd.read_csv('data/DATA_ex1.csv')

In [45]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [46]:
pd.read_table('data/DATA_ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [47]:
#primer 2
!cat data/DATA_ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [49]:
pd.read_csv('data/DATA_ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [51]:
pd.read_csv('data/DATA_ex2.csv', names=['a','b','c','d', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [52]:
pd.read_csv('data/DATA_ex2.csv', 
            names=['a','b','c','d', 'message'],
           index_col = 'message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [53]:
# primer3
!cat data/DATA_ex3.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [59]:
pd.read_csv('data/DATA_ex3.csv', 
            skiprows=[0,2,3],
           index_col = 'message'
           )

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

##### Primer

In [60]:
!head -n 3 data/DATA_BL-Flickr-Images-Book.csv

Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
000000206,,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",,,,,monographic,http://www.flickr.com/photos/britishlibrary/tags/sysnum000000206,British Library HMNTS 12641.b.30.
000000216,,London; Virtue & Yorston,1868,Virtue & Co.,"All for Greed. [A novel. The dedication signed: A. A. A., i.e. Marie Pauline Rose, Baroness Blaze de Bury.]","A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",,,,,monographic,http://www.flickr.com/photos/britishlibrary/tags/sysnum000000216,British Library HMNTS 12626.cc.2.

In [61]:
df = pd.read_csv('data/DATA_BL-Flickr-Images-Book.csv', nrows=5)

In [62]:
df

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 15 columns):
Identifier                5 non-null int64
Edition Statement         1 non-null object
Place of Publication      5 non-null object
Date of Publication       5 non-null object
Publisher                 5 non-null object
Title                     5 non-null object
Author                    5 non-null object
Contributors              5 non-null object
Corporate Author          0 non-null float64
Corporate Contributors    0 non-null float64
Former owner              0 non-null float64
Engraver                  0 non-null float64
Issuance type             5 non-null object
Flickr URL                5 non-null object
Shelfmarks                5 non-null object
dtypes: float64(4), int64(1), object(10)
memory usage: 680.0+ bytes

In [65]:
df.columns.tolist()

['Identifier',
 'Edition Statement',
 'Place of Publication',
 'Date of Publication',
 'Publisher',
 'Title',
 'Author',
 'Contributors',
 'Corporate Author',
 'Corporate Contributors',
 'Former owner',
 'Engraver',
 'Issuance type',
 'Flickr URL',
 'Shelfmarks']

In [67]:
df = pd.read_csv('data/DATA_BL-Flickr-Images-Book.csv',
                 nrows = 5,
                 usecols = ['Identifier', 'Place of Publication', 'Date of Publication'],
                 dtype = {'Identifier': int, 'Place of Publication': str, 'Date of Publication': str},
                 index_col = 0
)

In [68]:
df

                Place of Publication Date of Publication
Identifier
206                           London         1879 [1878]
216         London; Virtue & Yorston                1868
218                           London                1869
472                           London                1851
480                           London                1857

**Writing data**

In [69]:
data = pd.read_csv('data/DATA_ex3.csv', skiprows=[0,2,3])

In [70]:
data

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [71]:
data.to_csv('out1.csv')

In [72]:
data.to_csv('out1.txt', sep='|')

In [74]:
!cat out1.txt

|a|b|c|d|message
0|1|2|3|4|hello
1|5|6|7|8|world
2|9|10|11|12|foo

In [75]:
data.to_csv('out1.txt', index=False, header=False)

In [76]:
!cat out1.txt

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [77]:
data.to_csv('out1.txt', index=False, columns=['a','b','c'])

In [78]:
!cat out1.txt

a,b,c
1,2,3
5,6,7
9,10,11

#### JSON Data

In [17]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

##### Vaja

##### Reading JSON with pandas

#### Reading Microsoft Excel Files

## Data Cleaning and Preparation

### Handling Missing Data

#### Trade-Offs in Missing Data Conventions

#### Missing Data in Pandas

#### None: Pythonic missing data

#### NaN: Missing numerical data

In [3]:
vals2 = np.array([1, np.nan, 3, 4])

#### NaN and None in Pandas

In [17]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

The following table lists the upcasting conventions in Pandas when NA values are introduced:

<table>
<thead><tr>
<th>Typeclass</th>
<th>Conversion When Storing NAs</th>
<th>NA Sentinel Value</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>floating</code></td>
<td>No change</td>
<td><code>np.nan</code></td>
</tr>
<tr>
<td><code>object</code></td>
<td>No change</td>
<td><code>None</code> or <code>np.nan</code></td>
</tr>
<tr>
<td><code>integer</code></td>
<td>Cast to <code>float64</code></td>
<td><code>np.nan</code></td>
</tr>
<tr>
<td><code>boolean</code></td>
<td>Cast to <code>object</code></td>
<td><code>None</code> or <code>np.nan</code></td>
</tr>
</tbody>
</table>

#### Operating on Null Values

- `isnull()`: Generate a boolean mask indicating missing values
- `notnull()`: Opposite of isnull()
- `dropna()`: Return a filtered version of the data
- `fillna()`: Return a copy of the data with missing values filled or imputed

##### Detecting null values

In [26]:
data = pd.Series([1, np.nan, 'hello', None])

##### Dropping null values

In [31]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])

##### Filling null values

In [40]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))

### Removing Duplicates

In [39]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})

### Transforming Data Using a Function or Mapping

In [44]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [46]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

### Replacing Values

In [52]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])

### Change datatype

In [16]:
df = pd.read_csv('data/DATA_BL-Flickr-Images-Book.csv')

**[pandas.DataFrame.astype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html)**: Cast a pandas object to a specified dtype dtype.

### Dropping Columns in a DataFrame

In [60]:
df = pd.read_csv('data/DATA_BL-Flickr-Images-Book.csv')

In [5]:
to_drop = ['Edition Statement',
    'Corporate Author',
    'Corporate Contributors',
    'Former owner',
    'Engraver',
    'Contributors',
    'Issuance type',
    'Shelfmarks']

### Changing the Index of a DataFrame

### Tidying up Fields in the Data


 **Regular Expression**

[Regular Expression HOWTO](https://docs.python.org/3.7/howto/regex.html)

[Testiranje RE](https://regex101.com/r/3AJ1Pv/1)

### Cleaning the Entire Dataset Using the applymap Function

### Renaming Axis Indexes

In [58]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])

### Example: Renaming Columns and Skipping Rows

In [99]:
new_names =  {'Unnamed: 0': 'Country',
    '? Summer': 'Summer Olympics',
    '01 !': 'Gold',
    '02 !': 'Silver',
    '03 !': 'Bronze',
    '? Winter': 'Winter Olympics',
    '01 !.1': 'Gold.1',
    '02 !.1': 'Silver.1',
    '03 !.1': 'Bronze.1',
    '? Games': '# Games',
    '01 !.2': 'Gold.2',
    '02 !.2': 'Silver.2',
    '03 !.2': 'Bronze.2'}