# DN - Prikazovanje podatkov

Tekom domače naloge bomo uporabljali dataset *recet-grads*, v katerem imamo podatke o zaposlitvi ameriških študentov, ki so dokončali študij v letih 2010 do 2012.

Podatki so razvrščeni v sledeče stolpce:
<ul>
<li><code>Rank</code> - Rank by median earnings (the dataset is ordered by this column).</li>
<li><code>Major_code</code> - Major code.</li>
<li><code>Major</code> - Major description.</li>
<li><code>Major_category</code> - Category of major.</li>
<li><code>Total</code> - Total number of people with major.</li>
<li><code>Sample_size</code> - Sample size (unweighted) of full-time.</li>
<li><code>Men</code> - Male graduates.</li>
<li><code>Women</code> - Female graduates.</li>
<li><code>ShareWomen</code> - Women as share of total.</li>
<li><code>Employed</code> - Number employed.</li>
<li><code>Median</code> - Median salary of full-time, year-round workers.</li>
<li><code>Low_wage_jobs</code> - Number in low-wage service jobs.</li>
<li><code>Full_time</code> - Number employed 35 hours or more.</li>
<li><code>Part_time</code> - Number employed less than 35 hours.</li>
</ul>

In [12]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

In [4]:
recent_grads = pd.read_csv('data/recent-grads.csv')
recent_grads = recent_grads.dropna()

In [5]:
recent_grads.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172 entries, 0 to 172
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank                  172 non-null    int64
 1   Major_code            172 non-null    int64
 2   Major                 172 non-null    object
 3   Total                 172 non-null    float64
 4   Men                   172 non-null    float64
 5   Women                 172 non-null    float64
 6   Major_category        172 non-null    object
 7   ShareWomen            172 non-null    float64
 8   Sample_size           172 non-null    int64
 9   Employed              172 non-null    int64
 10  Full_time             172 non-null    int64
 11  Part_time             172 non-null    int64
 12  Full_time_year_round  172 non-null    int64
 13  Unemployed            172 non-null    int64
 14  Unemployment_rate     172 non-null    float64
 15  Median                172 non-null    int64
 16  P25th                 172 non-null    int64
 17  P75th                 172 non-null    int64
 18  College_jobs          172 non-null    int64
 19  Non_college_jobs      172 non-null    int64
 20  Low_wage_jobs         172 non-null    int64
dtypes: float64(5), int64(14), object(2)
memory usage: 29.6+ KB

In [6]:
recent_grads.describe()

,Rank,Major_code,Total,Men,Women,ShareWomen,Sample_size,Employed,Full_time,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
count,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.00000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000
mean,87.377907,3895.953488,39370.081395,16723.406977,22646.674419,0.522223,357.941860,31355.80814,26165.767442,8877.232558,19798.843023,2428.412791,0.068024,40076.744186,29486.918605,51386.627907,12387.401163,13354.325581,3878.633721
std,49.983181,1679.240095,63483.491009,28122.433474,41057.330740,0.231205,619.680419,50777.42865,42957.122320,14679.038729,33229.227514,4121.730452,0.030340,11461.388773,9190.769927,14882.278650,21344.967522,23841.326605,6960.467621
min,1.000000,1100.000000,124.000000,119.000000,0.000000,0.000000,2.000000,0.00000,111.000000,0.000000,111.000000,0.000000,0.000000,22000.000000,18500.000000,22000.000000,0.000000,0.000000,0.000000
25%,44.750000,2403.750000,4549.750000,2177.500000,1778.250000,0.336026,42.000000,3734.75000,3181.000000,1013.750000,2474.750000,299.500000,0.050261,33000.000000,24000.000000,41750.000000,1744.750000,1594.000000,336.750000
50%,87.500000,3608.500000,15104.000000,5434.000000,8386.500000,0.534024,131.000000,12031.50000,10073.500000,3332.500000,7436.500000,905.000000,0.067544,36000.000000,27000.000000,47000.000000,4467.500000,4603.500000,1238.500000
75%,130.250000,5503.250000,38909.750000,14631.000000,22553.750000,0.703299,339.000000,31701.25000,25447.250000,9981.000000,17674.750000,2397.000000,0.087247,45000.000000,33250.000000,58500.000000,14595.750000,11791.750000,3496.000000
max,173.000000,6403.000000,393735.000000,173809.000000,307087.000000,0.968954,4212.000000,307933.00000,251540.000000,115172.000000,199897.000000,28169.000000,0.177226,110000.000000,95000.000000,125000.000000,151643.000000,148395.000000,48207.000000

In [7]:
recent_grads.head()

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

------------

<div class="alert alert-block alert-info">
<b>Vaja: </b> Ustvarite bar diagram, kjer prikažete prvih 10 poklicev ter koliko je povprečni zaslužek. Prikažite jih od najmanjšega do največjega.

</div>

!["title"](data/graf1.PNG)

<div class="alert alert-block alert-info">
    <b>Vaja: </b> Ustvarite bar diagram, kjer prikažete 5 poklicev, kjer je <i>unemployment_rate</i> največji.

</div>

!["title"](data/graf2.PNG)

<div class="alert alert-block alert-info">
    <b>Vaja: </b> Ustvarite histogram vrednosti <i>Unemployment_rate</i>. Število <i>bins=20</i>.
</div>

!["title"](data/graf3.PNG)

<div class="alert alert-block alert-info">
    <b>Vaja: </b> Izrišite bar graf, ki primerja vse <i>Major_category</i>. Za vsako kategorijo naj se izriše 1bar, ki predstavlja povprečno plačo, in 1bar, ki predstavlja povprečno stopnjo brezposelnosti.
</div>

!["title"](data/graf4.PNG)